.forecast {
  margin-top: 50px;
}

.forecast-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forecast-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}

.forecast-card h3 {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.forecast-title {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.forecast-info {
  padding: 30px;
  position: relative;
  width: 100%;
  cursor: pointer;
}
